.books {
  display: inline-flex;
  // justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  & .title-head {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $primary-color;
    color: #fff;
    @extend .text-center;
    // border-bottom: 2px solid $primary-color;
    // padding: 10px;
    // margin: 5px;
    @include shadow;
  }
    & .books-items {
      flex: 20%;
      padding: 10px 10px 10px 10px;
      margin: 5px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.23);
        &:hover {
          box-shadow: 0 0 5px -1px $info-color-light;
        }
      & .title {
        text-align: center;
        border-bottom: 2px solid $primary-color;
        color: $primary-color-dark;
      }
      & .autor {
        padding: 4px;
        border-radius: 3px;
      }
      & .link {
        color: $primary-color-light;
        text-align: center;
          & a {
            background-color: $primary-color-light;
            padding: 0px 5px 2px 5px;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;
            color: #fff;
              &:hover {
                background-color: $primary-color-dark;
              }
          }
      }
      & .description {
        border-radius: 3px;
        padding: 3px;
      }
      & img {
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
        margin-bottom: 4px;
      }
  }
}

@media all and (max-width: 480px) {
  .books {
    flex-direction: column;
  }
}
