.news {
	padding: 10px;
	background-color: rgba(77, 173, 231, .5);
	margin: 10px;
	border-radius: 4px;

	& img {
		border-radius: 4px;
		align-items: center;
	}
	& .title {
		border: 0 solid $info-color-dark;
		border-bottom-width: 2px;
		padding-bottom: 4px;
		text-align: center;
	}
}
