// images fasad

Matterhorn
hex: #553344
rgb: 85, 51, 68
hsl: 330, 40%, 33%

hex: #220011
rgb: 34, 0, 17
hsl: 330, 100%, 13%

Hit Gray
hex: #99aabb
rgb: 153, 170, 187
hsl: 210, 18%, 73%

Pattens Blue
hex: #ddeeff
rgb: 221, 238, 255
hsl: 210, 13%, 100%

Fiord
hex: #445566
rgb: 68, 85, 102
hsl: 210, 33%, 40%

Hoki
hex: #668899
rgb: 102, 136, 153
hsl: 200, 33%, 60%

Pine Tree
hex: #112200
rgb: 17, 34, 0
hsl: 90, 100%, 13%

Chalet Green
hex: #556644
rgb: 85, 102, 68
hsl: 90, 33%, 40%

Mindaro
hex: #ddff88
rgb: 221, 255, 136
hsl: 77, 47%, 100%
