// global color
$text-color:                       #ffffff;
// gray color
$gray:                             #C0C0C0;
$gray-dark:                        #cccccc;
$gray-light:                       #999999;

// primary color
$primary-color:                    #661177;
$primary-color-dark:               #510d5f;
$primary-color-light:              #844092;

// danger color
$danger-color:                     #BA1B0A;
$danger-color-dark:                #941508;
$danger-color-light:               #c7483a;

// success color old
$success-color:                    #57A71C;
$success-color-dark:               #458516;
$success-color-light:              #78b849;

// info color
$info-color:                       #2199E2;
$info-color-dark:                  #1a7ab4;
$info-color-light:                 #4dade7;

// warning color
$warning-color:						#FACE0F;
$warning-color-dark:				#c8a40c;
$warning-color-light:				#fbd73e;

// Button color
